<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8"/>
	<title>Dashboard I Admin Panel</title>
	
	<link rel="stylesheet" href="../static/css/layout.css" type="text/css" media="screen" />
	<!--[if lt IE 9]>
	<link rel="stylesheet" href="../static/css/ie.css" type="text/css" media="screen" />
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<script src="../static/js/jquery-1.5.2.min.js" type="text/javascript"></script>
	<script src="../static/js/hideshow.js" type="text/javascript"></script>
	<script src="../static/js/jquery.tablesorter.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="../static/js/jquery.equalHeight.js"></script>
    <script type="text/javascript" src="../static/js/chart.js"></script>
	<script type="text/javascript">
	$(document).ready(function() 
    	{ 
      	  $(".tablesorter").tablesorter();
   	 }
	);
	$(document).ready(function() {

	//When page loads...
	$(".tab_content").hide(); //Hide all content
	$("ul.tabs li:first").addClass("active").show(); //Activate first tab
	$(".tab_content:first").show(); //Show first tab content

	//On Click Event
	$("ul.tabs li").click(function() {

		$("ul.tabs li").removeClass("active"); //Remove any "active" class
		$(this).addClass("active"); //Add "active" class to selected tab
		$(".tab_content").hide(); //Hide all tab content

		var activeTab = $(this).find("a").attr("href"); //Find the href attribute value to identify the active tab + content
		$(activeTab).fadeIn(); //Fade in the active ID content
		return false;
	});

});
    </script>
    <script type="text/javascript">
    $(function(){
        $('.column').equalHeight();
    });
</script>

</head>


<body>

	<header id="header">
		<hgroup>
			<h1 class="site_title"><a href="index.html"> Fire-Scene Analysis</a></h1>
			<h2 class="section_title">Dashboard</h2><div class="btn_view_site"></div>
		</hgroup>
	</header> <!-- end of header bar -->

	<section id="secondary_bar">
		<div class="user">
			<p>Fort Myers Department District #3 (<a href="#">7 Notifications</a>)</p>
			<!-- <a class="logout_user" href="#" title="Logout">Logout</a> -->
            <br><br><br>
		</div>
		<div class="breadcrumbs_container">
			<article class="breadcrumbs"><a href="index.html">Website Admin</a> <div class="breadcrumb_divider"></div> <a class="current">Dashboard</a></article>
		</div>
	</section><!-- end of secondary bar -->
	

<br><br>
	<section id="main" class="column">
		
		<h4 class="alert_info">Pay attention to rapid temperature changes</h4>
		
		<article class="module width_full">
			<header><h3>Temperature Stats</h3></header>
			<div class="module_content">
				<article class="stats_graph">
                     <img src="../static/images/loader.gif" id="loader-gif"/>
                    <canvas id="myChart" width="800" height="400">

                    </canvas>
				</article>
				
				<article class="stats_overview" style="margin-bottom:30px;background-color:#1CBEBE;">
					<div class="overview_today">
						<p class="overview_day">Matt</p>
						<p class="overview_count vitals" id="fighter_one_vitals">...</p>
						<p class="overview_type">Vitals</p>
						<p class="overview_count air" id="fighter_one_oxygen">...</p>
						<p class="overview_type">Air</p>
					</div>
					<div class="overview_previous">
						<p class="overview_day location"> Alpha</p>
						<p class="overview_count time_display">...</p>
						<p class="overview_type">Time</p>
						<p class="overview_count temp" id="fighter_one_temp">...</p>
						<p class="overview_type">Temp </p>
					</div>

					</article>

               <article class="stats_overview" style="margin-bottom:30px; background-color:#6B54D3; color:white;">
					<div class="overview_today">
						<p class="overview_day">Antoine</p>
						<p class="overview_count vitals"  id="fighter_two_vitals">...</p>
						<p class="overview_type ">Vitals</p>
						<p class="overview_count air" id="fighter_two_oxygen">...</p>
						<p class="overview_type">Air</p>
					</div>
					<div class="overview_previous">
						<p class="overview_day location"> Bravo</p>
						<p class="overview_count time_display">...</p>
						<p class="overview_type">Time</p>
						<p class="overview_count temp" id="fighter_two_temp">...</p>
						<p class="overview_type">Temp </p>
					</div>

					</article>

        <!--<article class="stats_overview" style="margin-bottom:30px;background-color:#ADACAC;">-->
					<!--<div class="overview_today">-->
						<!--<p class="overview_day">Antoine</p>-->
						<!--<p class="overview_count vitals">1,876</p>-->
						<!--<p class="overview_type">Vitals</p>-->
						<!--<p class="overview_count air">2,103</p>-->
						<!--<p class="overview_type">Air</p>-->
					<!--</div>-->
					<!--<div class="overview_previous">-->
						<!--<p class="overview_day location"> Charlie</p>-->
						<!--<p class="overview_count temp">1,646</p>-->
						<!--<p class="overview_type">Time</p>-->
						<!--<p class="overview_count time">2,054</p>-->
						<!--<p class="overview_type">Temp </p>-->
					<!--</div>-->

	<!--</article>-->

				<div class="clear"></div>
			</div>

		</article><!-- end of stats article -->

		<article class="module width_3_quarter">
		<header><h3 class="tabs_involved">Rehab Manager</h3>
		<ul class="tabs">
   			<li><a href="#tab1">Current</a></li>
    		<li><a href="#tab2"> Analytics</a></li>
		</ul>
		</header>

		<div class="tab_container">
			<div id="tab1" class="tab_content">
			<table class="tablesorter" cellspacing="0"> 
			<thead> 
				<tr> 
   					<th>BPM</th>
    				<th>Fighter Name</th>
    				<th>Time In</th>
    				<th>Time Left</th>
    				<th>Remove From Duty</th>
				</tr> 
			</thead> 
			<tbody> 
				<tr> 
   					<td>110</td>
    				<td>Hunter</td>
    				<td>3:33pm</td>
    				<td>2 min...</td>
    				<td>
                        <input type="checkbox">
                    </td>
				</tr> 
				<tr> 
   					<td>123</td>
    				<td>Ted Dibiase</td>
    				<td>3:40pm</td>
    				<td>8 min...</td>
    				<td>
                        <input type="checkbox">
                    </td>
				</tr>
            <tr>
   					<td>126</td>
    				<td>Sid Vicious</td>
    				<td>3:42pm</td>
    				<td>12 min...</td>
    				<td>
                        <input type="checkbox">
                    </td>
				</tr>
			</tbody> 
			</table>
			</div><!-- end of #tab1 -->
			
			<div id="tab2" class="tab_content">
			<table class="tablesorter" cellspacing="0"> 
			<thead> 
				<tr> 
    				<th>Comment</th>
    				<th>Posted by</th> 
    				<th>Posted At</th>
    				<!--<th>Actions</th> -->
				</tr> 
			</thead> 
			<tbody> 
				<tr> 

    				<td>Past health conditions show Hunter's Oxygen bottle should be 85% before going in.</td>
    				<td>Talia</td>
    				<td>3:34pm</td>
    				<!--<td></td>-->
				</tr> 
				<tr> 

    				<td>This is Mr. Vicious' third rehab in the past 6 days.</td>
    				<td>Talia</td>
    				<td>3:34pm</td>
                </tr>
				<tr> 
    				<td>Mr. Vicious needs at least 23 minutes of Rehab.</td>
    				<td>Talia</td>
    				<td>3:34pm</td>
                </tr>
				<tr> 
    				<td>Hunter has past knee injuries</td>
    				<td>Commander Robins</td>
    				<td>3:34pm</td>
                </tr>


			</tbody> 
			</table>

			</div><!-- end of #tab2 -->
			
		</div><!-- end of .tab_container -->
		
		</article><!-- end of content manager article -->
		
		<article class="module width_quarter">
			<header><h3>Messages</h3></header>
			<div class="message_list">
				<div class="module_content">
					<div class="message"><p>How long before the next crew arrives?</p>
					<p><strong>Incident Chief</strong></p></div>

					<div class="message"><p>ETA: 6min</p>
					<p><strong>Commander Robbins</strong></p></div>
					<div class="message"><p>How many men are with the crew?</p>
					<p><strong>Incident Chief</strong></p></div>
					<div class="message"><p>4, maybe 5...</p>
					<p><strong>Commander Robbins</strong></p></div>
				</div>
			</div>
			<footer>
				<form class="post_message">
					<input type="text" value="Message" onfocus="if(!this._haschanged){this.value=''};this._haschanged=true;">
					<input type="submit" class="btn_post_message" value=""/>
				</form>
			</footer>
		</article><!-- end of messages article -->
		
		<div class="clear"></div>
		

		<div class="spacer"></div>
	</section>
<script>

    setInterval(changeAlert, 6000);
    var count_alerts = 0;
    function changeAlert(){
    if(count_alerts % 2 == 0){
                     $('.alert_info').fadeOut(100);
                    $('.alert_info').html('Temperature Affect');
                    $('.alert_info').css({'backgroundColor':'red'});
                    $('.alert_info').fadeIn(1000);
    }else if (count_alerts % 3 == 0){
        $('.alert_info').fadeOut(100);
                    $('.alert_info').html('Watch Vitals ');
                    $('.alert_info').css({'backgroundColor':'#E08114'});
                    $('.alert_info').fadeIn(1000);
    }else if (count_alerts % 5 == 0){
                    $('.alert_info').fadeOut(100);
                    $('.alert_info').html('Oxygen Decreasing');
                    $('.alert_info').css({'backgroundColor':'#525CC3'});
                    $('.alert_info').fadeIn(1000);
    }
    count_alerts++;
    }
     get_firefighter_stats();
     setInterval(get_firefighter_stats, 10000);
     function get_firefighter_stats(){

        $.ajax({

            url: '/get_firefighter_stats',

            type: 'GET',
            success: function(firefighter_stats) {

                    ele = document.getElementById("fighter_one_vitals");
                    ele2 = document.getElementById("fighter_two_vitals");
                    fighter_element_list = [ele,ele2]
                    $.each(firefighter_stats, function(key, value){
                        var vitals_list = [];
                        for(var i=0; i < value.length; i++){
                            firefighter = value[i];
                            var firefighter_vitals = firefighter.value;
                           // console.log(key + "  : " + firefighter_vitals);
                            vitals_list[i] = firefighter_vitals;
                            fighter_element_list[key].innerHTML = firefighter_vitals +" BMP"
                        }
                });
            }, error: function(error) {
                    console.log(error);
                }
        });

}
    get_firefighter_oxygen()
    setInterval(get_firefighter_oxygen, 11000);
     function get_firefighter_oxygen(){

        $.ajax({

            url: '/get_firefighter_oxygen',

            type: 'GET',
            success: function(firefighter_stats) {

                    ele = document.getElementById("fighter_one_oxygen");
                    ele2 = document.getElementById("fighter_two_oxygen");
                    fighter_element_list = [ele,ele2]
                    $.each(firefighter_stats, function(key, value){
                        var oxygen_list = [];
                        for(var i=0; i < value.length; i++){
                            firefighter = value[i];
                            var firefighter_oxygen = firefighter.value;
                            // console.log(key + "  : " + firefighter_oxygen);
                            oxygen_list[i] = firefighter_oxygen-30;
                            fighter_element_list[key].innerHTML = firefighter_oxygen +" %"
                        }
                });
            }, error: function(error) {
                    console.log(error);
                }
        });

}
    time = 0;
    seconds = 1000;
    increment = 1000;
    setInterval(increment_timer,1000);
    function increment_timer(){
        time +=increment;
        var display = time / seconds;
        if(display % 10 == 0){
            if (display > 60){

            }
            $(".time_display").html(display +" secs");
        }
    }
   setInterval(get_temperature_data, 5000);

    colors = {0:'#1CBEBE', 1:'#6B54D3',2:'#ADACAC'}
    function get_temperature_data(){

        $.ajax({

                url: '/get_temperature',

                type: 'GET',
                success: function(temp_data) {

                    ele = document.getElementById("fighter_one_temp");
                    ele2 = document.getElementById("fighter_two_temp");
                    fighter_element_list = [ele,ele2]

                    data_set = [];
                      test = 0
                    $.each(temp_data, function(key, value){
                        var temp_list = [];

                        for(var i=0; i < value.length; i++){
                            firefighter_one = value[i];
                            var fire_temperature = parseInt(firefighter_one.value);
                            //console.log(key + "  : " + fire_temperature);
                            temp_list[i] = fire_temperature;
                            //test+=1;
                        }
                        fighter_element_list[key].innerHTML = temp_list[temp_list.length-1] +" (f)"
                        individual_data_set = {
                                label: "individual_data_set",
                                fillColor: "transparent",
                                strokeColor: colors[key],
                                pointColor: colors[key],
                                pointStrokeColor: "#fff",
                                pointHighlightFill: "#fff",
                                pointHighlightStroke: "rgba(220,220,220,1)",
                                data: temp_list
                        }
                        data_set.push(individual_data_set);

                    });

                     var data = {
                        labels: ["60 secs", "50 secs", "50 secs", "40 secs", "30 secs", "20 secs", "10 secs"],
                        datasets : data_set,
                    }
                        $("#loader-gif").hide();
                        var ctx = document.getElementById("myChart").getContext("2d");
                        var myLineChart = new Chart(ctx).Line(data  );
                        Chart.defaults.global.responsive = true;
                        Chart.defaults.global.animation = false;
                        Chart.defaults.global.scaleStartValue = 50;
                        Chart.defaults.global.scaleSteps = 10;
                        Chart.defaults.global.scaleStepWidth = 10;
                        Chart.defaults.global.scaleOverride = true;
               }, error: function(error) {
                    console.log(error);
                }

                });


}
</script>

</body>

</html>